// ==========================================================================
// Iconography
// ==========================================================================

[class^="icon"],
[class*=" image"] {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: var(--icon-size);
  width: var(--icon-size);
}

.icon--stroke {
  fill: transparent;
  stroke: currentColor;
}

.icon--xs {
  height: var(--icon-size-xs);
  width: var(--icon-size-xs);
}
.icon--sm {
  height: var(--icon-size-sm);
  width: var(--icon-size-sm);
}
.icon--md {
  height: var(--icon-size-md);
  width: var(--icon-size-md);
}
.icon--lg {
  height: var(--icon-size-lg);
  width: var(--icon-size-lg);
}
.icon--xl {
  height: var(--icon-size-xl);
  width: var(--icon-size-xl);
}
