/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

   body, html {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
    overflow-x: hidden;
    background-color: white;
  }
  $image-path: "src/assets/images";

/* ==========================================================================
   IMAGES
   ========================================================================== */

   $image-path: "src/assets/images";

   .image_2 {
     background-image: url(#{$image-path}/image\ 2.png);
     width: auto; // Replace 'auto' with the desired width
     height: auto; // Replace 'auto' with the desired height
   }
   
   .mask_group {
     background-image: url(#{$image-path}/Mask\ group.png);
     width: auto; // Replace 'auto' with the desired width
     height: auto; // Replace 'auto' with the desired height
   }