/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

   h1.GrandTitre,
   .titre,
   h1.SousTitre,
   .prix,
   h3,
   h2,
   h4,
   h1.H1-1,
   h5,
   .out {
     font-family: var(--font-primary);
     font-weight: normal;
     margin: 0;
   }
   
   h1.GrandTitre,
   .titre {
     font-size: var(--font-size-grand-titre);
   }
   h1.SousTitre {
     font-size: var(--font-size-sous-titre);
   }
   .prix {
     font-size: var(--font-size-prix);
   }
   h3 {
     font-size: var(--font-size-h3);
   }
   h2 {
     font-size: var(--font-size-h2);
   }
   h4 {
     font-size: var(--font-size-h4);
   }
   h1.H1-1 {
     font-size: var(--font-size-h1-1);
   }
   h5 {
     font-size: var(--font-size-h5);
   }
   .out {
     font-size: var(--font-size-out);
   }