/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lger;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
}

.header {
    background-color: var(--color-bg-primary);
}
