@charset "UTF-8";
/* ==========================================================================
   MAIN.SCSS
   ========================================================================== */
/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */
:root {
  --color-white: #fff;
  --color-black: #0c0f0a;
  --color-primary: #c3d898;
  --color-primary-darker: #285943;
  --color-secondary: #eb8258;
  --color-neutral-light: #eeeeee;
  --color-neutral-dark: #888888;
  --color-fail: #f6511d;
  --color-white: #fff;
  --color-black: #000;
  --color-neutre-pale: #81848d;
  --color-neutre-foncee: #081946;
  --color-fond-pale: #f5f4fa;
  --color-fond-fonce: #23235e;
  --color-objets-fondPale-couleur: #2625bf;
  --color-objets-fondsFonces-couleurFoncee: #2824c0;
  --color-objets-fonces-couleurPale: #8b38dd;
  --Color-typo-fonce: #081946;
  --Color-typo-pale: #3d424f;
  --Color-typo-moyen: #bbc8eb;
  --Color-typo-tresPale: #81848d;
  --Color-typo-inversee-tresPale: #fff;
  --Color-typo-inversee-pale: #bbc8eb;
  --Color-typo-sousTitre: #2625bf;
  --Color-contraste-pale: #ffc700;
  --Color-contraste-foncee: #ff782d;
  /*--Color1-degrade-play: #FFC700;
  --Color2-degrade-play:#FF782D;
  --Color1-degrade-boutons: #1A21BC;
  --Color2-degrade-boutons:#8B38DD;*/
  --Color-degrade-bouton-fonce: linear-gradient(
      92.42deg,
      #4424bf 1.68%,
      #8236da 98.61%
  );
  --color-fail: #e11c1c;
  --color-win: #2ece32;
}

/* ==========================================================================
   DIMENSIONS / SETTINGS
   ========================================================================== */
:root {
  --spacing-xs: 5px;
  --spacing-sm: 15px;
  --spacing-md: 30px;
  --spacing-lg: 50px;
  --spacing-xl: 100px;
  --icon-size: 58px;
  --icon-size-xs: 0.75em;
  --icon-size-sm: 0.8em;
  --icon-size-md: 1.25em;
  --icon-size-lg: 1.75em;
  --icon-size-xl: 7em;
}

/* ==========================================================================
   easing / settings
   ========================================================================== */
/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
:root {
  --font-primary: Inter, sans-serif;
  --font-secondary: Roboto, sans-serif;
  --font-size-content: 2.4rem;
  --font-size-button-gros: 2.4rem;
  --font-size-button-petit: 1.6rem;
  --font-size-h1: 6.4rem;
  --font-size-h2: 4.8rem;
  --font-size-h3: 3.2rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.4rem;
  --font-size-h6: 1.2rem;
  --font-primary: "ABeeZee", sans-serif;
  --font-size-grand-titre: 59px;
  --font-size-titre: 59px;
  --font-size-sous-titre: 30px;
  --font-size-prix: 46px;
  --font-size-h3: 19px;
  --font-size-h2: 37px;
  --font-size-h4: 33px;
  --font-size-h1-1: 50px;
  --font-size-h5: 30px;
  --font-size-out: 23px;
  --font-size-bouton: 28px;
}

/* ==========================================================================
   cover / tools
   ========================================================================== */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 62.5%;
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* ==========================================================================
   RESET / GENERIC
   ========================================================================== */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.tt {
  align-items: center;
  color: var(--color-black);
  display: flex;
  height: 100vh;
  font: 800 75px/1.5 helvetica, sans-serif;
  justify-content: center;
  position: fixed;
  left: 0;
  margin: 0;
  top: 0;
  width: 100vw;
}

/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */
body, html {
  margin: 0;
  padding: 0;
  font-family: "ABeeZee", sans-serif;
  overflow-x: hidden;
  background-color: white;
}

/* ==========================================================================
   IMAGES
   ========================================================================== */
.image_2 {
  background-image: url(src/assets/images/image\ 2.png);
  width: auto;
  height: auto;
}

.mask_group {
  background-image: url(src/assets/images/Mask\ group.png);
  width: auto;
  height: auto;
}

/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */
h1.GrandTitre,
.titre,
h1.SousTitre,
.prix,
h3,
h2,
h4,
h1.H1-1,
h5,
.out {
  font-family: var(--font-primary);
  font-weight: normal;
  margin: 0;
}

h1.GrandTitre,
.titre {
  font-size: var(--font-size-grand-titre);
}

h1.SousTitre {
  font-size: var(--font-size-sous-titre);
}

.prix {
  font-size: var(--font-size-prix);
}

h3 {
  font-size: var(--font-size-h3);
}

h2 {
  font-size: var(--font-size-h2);
}

h4 {
  font-size: var(--font-size-h4);
}

h1.H1-1 {
  font-size: var(--font-size-h1-1);
}

h5 {
  font-size: var(--font-size-h5);
}

.out {
  font-size: var(--font-size-out);
}

/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--color-secondary);
}

.button,
.button2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: var(--color-white);
}

/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */
.wrapper {
  max-width: 1200px;
  width: calc(100% - var(--spacing-md));
  margin: 0 auto;
}

.header {
  background-color: var(--color-bg-primary);
}

[class^=icon],
[class*=" image"] {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: var(--icon-size);
  width: var(--icon-size);
}

.icon--stroke {
  fill: transparent;
  stroke: currentColor;
}

.icon--xs {
  height: var(--icon-size-xs);
  width: var(--icon-size-xs);
}

.icon--sm {
  height: var(--icon-size-sm);
  width: var(--icon-size-sm);
}

.icon--md {
  height: var(--icon-size-md);
  width: var(--icon-size-md);
}

.icon--lg {
  height: var(--icon-size-lg);
  width: var(--icon-size-lg);
}

.icon--xl {
  height: var(--icon-size-xl);
  width: var(--icon-size-xl);
}

.header {
  background-color: #242424;
  padding: 0;
  height: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .wrapper {
  margin-left: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.header .wrapper nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .wrapper nav ul li {
  margin: 0 100px;
}
.header .wrapper nav ul li a {
  text-decoration: none;
}
.header .wrapper nav ul li a:hover {
  text-decoration: underline;
}
.header .wrapper nav ul li a.button {
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  font-size: var(--font-size-bouton);
  white-space: nowrap;
}
.header .header__brand {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__brand .img_main {
  height: auto !important;
  width: 300px !important;
  margin: 0 10px;
}
.header .header__brand .line {
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  margin: 0 10px;
  position: relative;
}
.header .header__brand .line span {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #ffffff;
  font-size: 24px;
  bottom: -60px;
}
.header .header__brand #left-line span {
  right: -20px;
  bottom: -80px;
}
.header .header__brand #right-line span {
  left: -20px;
  bottom: -60px;
}

/* ==========================================================================
   COMPONENTS/SECTOR1.SCSS
   ========================================================================== */
.section_1 {
  border: 40px solid white;
  background-color: #242424;
  padding: 20px;
}
.section_1 .wrapper {
  margin-left: 200px;
}

.section_1 .title_wrapper h1 {
  font-size: var(--font-size-grand-titre);
}

.section_1 .title_wrapper h2 {
  font-size: var(--font-size-sous-titre);
}

.section_1 .title_wrapper {
  text-align: center;
  margin-bottom: 50px;
}
.section_1 .title_wrapper h1,
.section_1 .title_wrapper h2 {
  color: white;
  margin: 0;
}
.section_1 .title_wrapper h1 {
  margin-top: 60px;
  font-size: 59px;
  margin-bottom: 10px;
}
.section_1 .title_wrapper h2 {
  font-size: 30px;
}

.section_1 .section_content {
  margin: 50px 300px 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_1 .left_column .icon_logo_principale {
  width: 700px;
  height: 500px;
  margin-bottom: 20px;
}

.section_1 .right_column {
  flex: 1;
  padding-left: 30px;
}

.section_1 .right_column .top_line,
.section_1 .right_column .columns,
.section_1 .right_column .section_media,
.section_1 .right_column .content_below_columns {
  margin-bottom: 20px;
}
.section_1 .right_column .top_line {
  width: 100%;
  height: 5px;
  background-color: white;
}
.section_1 .right_column .columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section_1 .right_column .columns .column_left,
.section_1 .right_column .columns .column_right {
  flex: 1;
  padding: 0 10px;
  margin-right: 20px;
}
.section_1 .right_column .columns .column_right {
  margin-right: 0;
}
.section_1 .right_column .columns h3,
.section_1 .right_column .columns h4 {
  margin: 0 0 10px 0;
  color: white;
}
.section_1 .right_column .columns .prix {
  font-size: 46px;
  color: #57f0f8;
}
.section_1 .right_column .columns .contributors {
  font-size: 28px;
  color: #57f0f8;
}
.section_1 .right_column .section_media {
  display: flex;
  align-items: center;
}
.section_1 .right_column .section_media button {
  background-color: transparent;
  color: white;
  font-size: calc(var(--font-size-bouton) * 0.8);
  padding: calc(var(--spacing-sm) * 0.8);
  border: 2px solid #57f0f8;
  margin-top: 20px;
  margin-right: 150px;
}
.section_1 .right_column .section_media img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_1 .right_column .content_below_columns {
  text-align: center;
}
.section_1 .right_column .content_below_columns .custom-h3 {
  margin-top: 100px;
  color: white;
  font-size: 19px;
}
.section_1 .right_column .column_right h4,
.section_1 .right_column .content_below_columns .custom-h3 {
  font-size: var(--font-size-h3);
}

/* ==========================================================================
   COMPONENTS/SECTOR2.SCSS
   ========================================================================== */
.section_2 .mini_header {
  font-size: var(--font-size-h1-1);
}

.section_2 .big_black_box h3 {
  font-size: var(--font-size-h3);
}

.section_2 {
  border: 40px solid white;
  background-color: #242424;
  position: relative;
  overflow: hidden;
}
.section_2 .image_background_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 60px solid #242424;
}
.section_2 .image_background {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_2 .mini_header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3.5em;
  padding: var(--spacing-sm);
  background-color: white;
  border: 8px solid #242424;
  gap: 1em;
}
.section_2 .wrapper {
  position: relative;
  z-index: 2;
}
.section_2 .cards {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.section_2 .card {
  height: 600px;
  width: 600px;
  background-color: #242424;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_2 .big_black_box {
  position: relative;
  color: white;
  text-align: center;
  width: 500px;
}
.section_2 .big_black_box h3 {
  font-size: 3em;
  margin-bottom: 30px;
}
.section_2 .big_black_box ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.section_2 .big_black_box ul li {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin: 10px 0;
  font-size: 2em;
}
.section_2 .big_black_box ul li .bullet {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

/* ==========================================================================
   COMPONENTS/SECTOR3.SCSS
   ========================================================================== */
.section_3 .cards .card .card_header {
  font-size: var(--font-size-h1-1);
}

.section_3 .cards .card ul li {
  font-size: var(--font-size-h4);
}

.section_3 {
  height: 135vh;
  border: 40px solid white;
  background-color: #242424;
  padding: 20px;
}
.section_3 .wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_3 .wrapper .cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 20px;
  margin-left: 600px;
}
.section_3 .wrapper .cards .card {
  width: 100%;
  height: auto;
  transform: scale(1.5);
  background-color: #ffffff;
  margin: 120px;
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section_3 .wrapper .cards .card .card_header {
  width: 100%;
  margin-bottom: 70px;
  font-size: 3em;
  text-align: center;
}
.section_3 .wrapper .cards .card ul {
  background-color: #242424;
  width: 160%;
  padding: 20px;
  height: 400px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.section_3 .wrapper .cards .card ul li {
  list-style-type: none;
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: left;
}

/* ==========================================================================
   COMPONENTS/FOOTER.SCSS
   ========================================================================== */
footer .footer_section h4 {
  font-size: var(--font-size-sous-titre);
}

footer .footer_section ul li,
.footer_copyright {
  font-size: var(--font-size-out);
}

footer {
  background-color: #242424;
  height: 367px;
  position: relative;
}
footer .footer_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer .footer_wrapper .footer_section {
  flex: 1;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 50px;
}
footer .footer_wrapper .footer_section h4 {
  font-size: var(--font-size-sous-titre);
  margin-bottom: 10px;
}
footer .footer_wrapper .footer_section ul {
  list-style: none;
  padding-left: 0;
}
footer .footer_wrapper .footer_section ul li {
  margin-bottom: 5px;
  font-size: var(--font-size-out);
}
footer .footer_copyright {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: var(--font-size-out);
}

/* ==========================================================================
    ACCESSIBILITY / UTILITIES
   ========================================================================== */
.u-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.u-hidden {
  display: none !important;
}/*# sourceMappingURL=main.css.map */