body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --h1:ABeeZee;
  /* font sizes */
  --font-size-7xl:26px;
  --h1-size:30px;
  --titre-size:59px;
  --h3-size:19px;
  --prix-size:46px;
  --h4-size:33px;
  --h2-size:37px;
  --h1-1-size:50px;
  --out-size:23px;
  /* Colors */
  --color-white:#fff;
  --bleu:#57f0f8;
  --color-gray:#242424;
  --color-black:#000;
  /* Gaps */
  --gap-7xs:6px;
  --gap-3xs:10px;
  /* Paddings */
  --padding-3xs:10px;
}

.arrire-plan, .logo-footer-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.arrire-plan {
  width: 100%;
  right: 0;
  background-color: var(--color-gray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-footer-icon {
  width: 15.56%;
  right: 84.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.credentials {
  position: absolute;
  top: 6.06%;
  left: 18.69%;
}

.logo-footer-parent {
  position: absolute;
  height: 8.99%;
  width: 10.31%;
  top: 85.01%;
  right: 88.54%;
  bottom: 5.99%;
  left: 1.15%;
  text-align: center;
}

.option-3, .option-4, .option-5 {
  position: absolute;
  top: 84.02%;
  left: 0;
}

.option-3, .option-4 {
  top: 68.56%;
}

.option-3 {
  top: 53.09%;
}

.option-1, .option-2, .titre {
  position: absolute;
  top: 37.63%;
  left: 0;
}

.option-1 {
  top: 22.16%;
}

.titre {
  top: 22.16%;
  top: 0;
  font-size: var(--h1-size);
}

.assistance, .autres-ressources {
  position: absolute;
  top: 66px;
  left: 741px;
  width: 342px;
  height: 194px;
}

.assistance {
  top: 76px;
  left: 1266px;
  width: 405px;
}

.option-32, .option-42, .option-52 {
  position: absolute;
  top: 84.18%;
  left: 0;
}

.option-32, .option-42 {
  top: 68.88%;
}

.option-32 {
  top: 53.57%;
}

.option-12, .option-22, .titre2 {
  position: absolute;
  top: 38.27%;
  left: 0;
}

.option-12 {
  top: 22.96%;
}

.titre2 {
  top: 22.96%;
  top: 0;
  left: 0.32%;
  font-size: var(--h1-size);
}

.footer, .propros {
  position: absolute;
  top: 70px;
  left: 219px;
  width: 339px;
  height: 196px;
}

.footer {
  top: 3692px;
  left: 0;
  width: 1920px;
  height: 367px;
  text-align: left;
}

.base-contrepartie-3, .base-tous-contreparties {
  position: absolute;
  height: 112.23%;
  width: 325.35%;
  top: -6.12%;
  right: -11.7%;
  bottom: -6.12%;
  left: -213.65%;
  background-color: var(--color-gray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.base-contrepartie-3 {
  height: 100%;
  width: 99.65%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0.35%;
  background-color: var(--color-white);
}

.base-benefice-3 {
  position: absolute;
  height: 67.58%;
  top: 31.09%;
  bottom: 1.33%;
  left: calc(50% - 260px);
  background-color: var(--color-gray);
  width: 521px;
}

.benefice-3, .benefice-4, .benefice-5 {
  position: absolute;
  top: 72.27%;
  left: 9.57%;
}

.benefice-3, .benefice-4 {
  top: 64.42%;
}

.benefice-3 {
  height: 6.22%;
  width: 69.33%;
  top: 54.13%;
  display: inline-block;
}

.benefice-1, .benefice-2 {
  position: absolute;
  top: 47.81%;
  left: 9.57%;
}

.benefice-1 {
  height: 6.73%;
  width: 77.48%;
  top: 39.96%;
  display: inline-block;
}

.contribution-suprme, .prix-3 {
  position: absolute;
  top: 17.33%;
  left: 37.23%;
  font-size: var(--titre-size);
  color: var(--color-gray);
  text-align: center;
}

.contribution-suprme {
  height: 11.62%;
  width: 81.03%;
  top: 4.18%;
  left: 9.57%;
  font-size: var(--h1-1-size);
  color: var(--color-black);
  display: inline-block;
}

.contrepartie-3 {
  position: absolute;
  top: 60px;
  left: 1205px;
  width: 564px;
  height: 981px;
}

.base-contrepartie2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.base-benefice-2 {
  position: absolute;
  height: 66.56%;
  top: 31.09%;
  bottom: 2.34%;
  left: calc(50% - 253px);
  background-color: var(--color-gray);
  width: 507px;
}

.benefice-31, .benefice-41, .benefice-51 {
  position: absolute;
  top: 72.27%;
  left: 9.85%;
}

.benefice-31, .benefice-41 {
  top: 65.55%;
}

.benefice-31 {
  height: 6.32%;
  width: 76.09%;
  top: 56.57%;
  display: inline-block;
}

.benefice-11, .benefice-21 {
  position: absolute;
  top: 47.81%;
  left: 9.85%;
}

.benefice-11 {
  top: 39.96%;
}

.prix2 {
  position: absolute;
  text-align: center;
}

.titre-2 {
  position: absolute;
  text-align: center;
  height: 11.62%;
  width: 83.39%;
  top: 4.18%;
  left: 8.21%;
  font-size: var(--h1-1-size);
  color: var(--color-black);
  display: inline-block;
}

.prix2 {
  top: 16.92%;
  left: 38.5%;
  font-size: var(--titre-size);
  color: var(--color-gray);
}

.contrepartie-2 {
  position: absolute;
  top: 60px;
  left: 626px;
  width: 548px;
  height: 981px;
}

.base-benefice {
  position: absolute;
  height: 66.56%;
  top: 31.09%;
  bottom: 2.34%;
  left: calc(50% - 246.5px);
  background-color: var(--color-gray);
  width: 493px;
}

.benefice-32, .benefice-42, .benefice-52 {
  position: absolute;
  top: 72.27%;
  left: 6.64%;
}

.benefice-32, .benefice-42 {
  top: 64.42%;
}

.benefice-32 {
  top: 56.57%;
}

.benefice-12, .benefice-22, .prix1 {
  position: absolute;
  top: 47.81%;
  left: 6.64%;
}

.benefice-12 {
  top: 39.96%;
}

.prix1 {
  top: 39.96%;
  top: 17.33%;
  left: 38.14%;
  font-size: var(--titre-size);
  color: var(--color-gray);
  text-align: center;
}

.contribution {
  margin: 0;
}

.titre3 {
  position: absolute;
  height: 11.62%;
  width: 86.72%;
  top: 4.18%;
  left: 6.64%;
  font-size: var(--h1-1-size);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}

.contrepartie-1 {
  position: absolute;
  top: 60px;
  left: 68px;
  width: 527px;
  height: 981px;
}

.les-contreparties {
  position: absolute;
  top: 2507px;
  left: 43px;
  width: 1835px;
  height: 1101px;
  text-align: left;
  font-size: var(--h1-size);
}

.en-tete-campagne-child, .section {
  position: absolute;
  height: 90.24%;
  width: 100%;
  top: 7.78%;
  right: 0.27%;
  bottom: 1.99%;
  left: -0.27%;
  background-color: var(--color-gray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.en-tete-campagne-child {
  height: 107%;
  width: 100.38%;
  top: -3.5%;
  right: -0.19%;
  bottom: -3.5%;
  left: -0.19%;
  background-color: var(--color-white);
  border: 7px solid var(--color-gray);
  box-sizing: border-box;
}

.campagne, .faq, .risques, .venus {
  position: absolute;
  top: 28%;
  left: 5.18%;
}

.faq, .risques, .venus {
  left: 20.6%;
}

.faq, .venus {
  left: 32.97%;
}

.faq {
  left: 43.87%;
}

.actus, .commentaires, .communaut {
  position: absolute;
  top: 28%;
  left: 52.86%;
}

.commentaires {
  left: 63.38%;
}

.communaut {
  left: 63.38%;
  left: 82.23%;
}

.en-tete-campagne-inner, .en-tete-campagne-item {
  position: absolute;
  height: 4%;
  width: 11.12%;
  top: 78%;
  right: 84.06%;
  bottom: 18%;
  left: 4.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.en-tete-campagne-inner {
  height: 72%;
  width: 0.22%;
  top: 14%;
  right: 81.91%;
  bottom: 14%;
  left: 17.87%;
}

.en-tete-campagne-child1, .en-tete-campagne-child2, .en-tete-campagne-child3, .en-tete-campagne-child4, .vector-icon {
  position: absolute;
  height: 72%;
  width: 0.22%;
  top: 14%;
  right: 69.54%;
  bottom: 14%;
  left: 30.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.en-tete-campagne-child1, .en-tete-campagne-child2, .en-tete-campagne-child3, .en-tete-campagne-child4 {
  right: 58.64%;
  left: 41.14%;
}

.en-tete-campagne-child2, .en-tete-campagne-child3, .en-tete-campagne-child4 {
  right: 49.65%;
  left: 50.14%;
}

.en-tete-campagne-child3 {
  right: 39.13%;
  left: 60.65%;
}

.en-tete-campagne-child4 {
  right: 39.13%;
  left: 60.65%;
  right: 20.27%;
  left: 79.51%;
}

.en-tete-campagne {
  position: absolute;
  top: 0;
  left: -5px;
  width: 1835px;
  height: 100px;
}

.mask-group-icon {
  position: relative;
  width: 1765px;
  height: 912px;
  object-fit: cover;
  z-index: 0;
}

.avancement-du-jeu-child {
  position: relative;
  background-color: var(--color-gray);
  width: 923px;
  height: 823px;
  z-index: 0;
}

.avancement-du-jeu1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 764px;
  height: 109.1px;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.image-8-icon {
  position: absolute;
  height: 72.31%;
  width: 14.11%;
  top: 13.59%;
  right: 85.89%;
  bottom: 14.1%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.choix-narratifs-dynamiques-container {
  position: absolute;
  top: 0;
  left: 26.52%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.image-8-parent {
  position: relative;
  width: 594.7px;
  height: 78px;
}

.image-9-icon {
  position: absolute;
  height: 100%;
  width: 13.32%;
  top: 0;
  right: 86.68%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.graphismes-3d-poustouflants {
  position: absolute;
  top: 15.07%;
  left: 25.04%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.image-9-parent {
  position: relative;
  width: 629.7px;
  height: 56.4px;
}

.image-11-icon {
  position: absolute;
  height: 100%;
  width: 11.87%;
  top: 0;
  right: 88.13%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.modes-coopration-et {
  position: absolute;
  top: 15.07%;
  left: 22.36%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.image-11-parent {
  position: relative;
  width: 707.1px;
  height: 56.4px;
}

.image-13-icon {
  position: absolute;
  height: 100%;
  width: 14.77%;
  top: 0;
  right: 85.23%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.environnements-interactifs {
  position: absolute;
  top: 16.84%;
  left: 27.83%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.image-13-parent {
  position: relative;
  width: 568.1px;
  height: 56.4px;
}

.image-15-icon {
  position: absolute;
  height: 100%;
  width: 10.98%;
  top: 0;
  right: 89.02%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.personnalisation-de-personnage {
  position: absolute;
  top: 17.02%;
  left: 20.72%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.image-15-parent {
  position: relative;
  width: 764.4px;
  height: 56.4px;
}

.avancement-du-jeu-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.group-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 789px;
  gap: 64px;
  text-align: left;
  font-size: var(--h4-size);
}

.avancement-du-jeu-parent {
  position: absolute;
  top: 0;
  left: 0;
  gap: 47px;
}

.avancement-du-jeu-inner {
  position: absolute;
  margin: 0 !important;
  top: 48px;
  left: 73.6px;
  width: 789px;
  height: 715.7px;
  z-index: 1;
}

.avancement-du-jeu, .mask-group-parent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.avancement-du-jeu {
  margin: 0 !important;
  top: calc(50% - 411px);
  left: 39px;
  z-index: 1;
}

.mask-group-parent {
  top: 136px;
  left: 29px;
  border: 1px solid var(--color-white);
  font-size: 45px;
  color: var(--color-white);
}

.sector-2 {
  position: absolute;
  top: 1317px;
  left: 43px;
  width: 1835px;
  height: 1106px;
  font-size: var(--h2-size);
  color: var(--color-gray);
}

.image-4-icon {
  position: relative;
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.image-4-wrapper {
  position: absolute;
  height: 8.88%;
  width: 4.31%;
  top: 0;
  right: 0;
  bottom: 91.12%;
  left: 95.69%;
  box-shadow: 0 4px 17px #fff;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}

.group-child {
  position: absolute;
  height: 1.48%;
  top: -0.85%;
  bottom: 99.36%;
  left: calc(50% - 497.5px);
  max-height: 100%;
  width: 995px;
}

.cad {
  position: absolute;
  height: 69.17%;
  width: 81.41%;
  top: 30.83%;
  left: 9.21%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fond-accumul-total {
  position: absolute;
  height: 69.17%;
  width: 81.41%;
  top: 30.83%;
  left: 9.21%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44.91%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--h1-size);
  color: var(--color-white);
}

.cad-parent {
  position: absolute;
  height: 25.29%;
  width: 40.64%;
  top: 0;
  right: 57.69%;
  bottom: 74.71%;
  left: 1.66%;
  font-size: var(--prix-size);
  color: var(--bleu);
}

.votre-contribution-est {
  position: absolute;
  height: 19.44%;
  top: 80.56%;
  left: calc(50% - 481px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 925px;
}

.contributeurs {
  position: absolute;
  top: 32.98%;
  left: 20.05%;
  font-size: 28px;
  color: var(--bleu);
}

.jours-avant-la {
  position: absolute;
  top: 76.6%;
  left: 0;
}

.contributeurs-parent, .engags-sur-un {
  position: absolute;
  top: 0;
  left: 8.59%;
}

.contributeurs-parent {
  height: 22.01%;
  width: 43.56%;
  right: 0;
  bottom: 77.99%;
  left: 56.44%;
}

.div {
  position: absolute;
  height: 100%;
  width: 30.22%;
  top: 0;
  left: 69.78%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-5-icon, .image-6-icon, .image-7-icon {
  position: absolute;
  height: 70.73%;
  width: 21.64%;
  top: 13.41%;
  right: 78.36%;
  bottom: 15.85%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.image-6-icon {
  height: 47.56%;
  width: 14.55%;
  top: 25.61%;
  right: 58.96%;
  bottom: 26.83%;
  left: 26.49%;
}

.image-7-icon {
  height: 47.56%;
  width: 14.55%;
  top: 25.61%;
  right: 58.96%;
  bottom: 26.83%;
  left: 26.49%;
  height: 42.68%;
  width: 17.39%;
  top: 28.05%;
  right: 33.36%;
  bottom: 29.27%;
  left: 49.25%;
}

.parent {
  position: absolute;
  height: 19.2%;
  width: 27.86%;
  top: 43.33%;
  right: 9.77%;
  bottom: 37.47%;
  left: 62.37%;
  font-size: 39px;
}

.je-soutiens-ce {
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}

.je-soutiens-ce-projet-wrapper {
  position: absolute;
  top: 203px;
  left: 80px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--bleu);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: 20px;
}

.information-lever-de-fond {
  position: absolute;
  height: 90.47%;
  width: 96.68%;
  top: 9.53%;
  right: 1.61%;
  bottom: 0;
  left: 1.71%;
}

.line-parent {
  position: absolute;
  height: 55.86%;
  top: 38.11%;
  bottom: 6.04%;
  left: calc(50% - 124px);
  width: 995px;
}

.image-2-icon {
  position: absolute;
  height: 67.34%;
  width: 41.33%;
  top: 33.61%;
  right: 58.9%;
  bottom: -0.95%;
  left: -0.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.fairy-tail-tm {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.un-jeu-vido {
  position: absolute;
  top: 66.67%;
  left: 13.74%;
  font-size: var(--h1-size);
}

.titre-et-sous-titre {
  position: absolute;
  height: 12.43%;
  width: 57.23%;
  top: 11.48%;
  right: 21.35%;
  bottom: 76.09%;
  left: 21.41%;
  font-size: var(--titre-size);
}

.instance-parent {
  position: absolute;
  height: 91.38%;
  width: 94.93%;
  top: 4%;
  right: 2.51%;
  bottom: 4.62%;
  left: 2.56%;
}

.sector-1 {
  position: absolute;
  top: 308px;
  left: calc(50% - 917px);
  width: 1835px;
  height: 924.7px;
  font-size: var(--h3-size);
}

.header-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.dcouvrire {
  position: relative;
}

.logo-principale-icon {
  position: absolute;
  height: 93.18%;
  width: 50.5%;
  top: 0;
  right: 22.44%;
  bottom: 6.82%;
  left: 27.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.fairy {
  position: relative;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.frame-child {
  position: relative;
  border-right: 5px solid var(--color-white);
  box-sizing: border-box;
  width: 5px;
  height: 169px;
}

.fairy-parent {
  position: absolute;
  top: 12px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}

.tail {
  position: relative;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.line-group {
  position: absolute;
  top: 10px;
  left: 266px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}

.logo-principale-parent {
  position: relative;
  width: 303px;
  height: 176px;
}

.recherche {
  position: absolute;
  top: 0;
  left: 0;
}

.rechercher-image-icon {
  position: absolute;
  height: 64.52%;
  width: 12.49%;
  top: 16.13%;
  right: 0;
  bottom: 19.35%;
  left: 87.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.groupe-recherche {
  position: relative;
  width: 157.7px;
  height: 31px;
}

.dcouvrire-parent {
  position: absolute;
  height: 78.57%;
  width: 87.28%;
  top: 10.71%;
  right: 6.37%;
  bottom: 10.71%;
  left: 6.35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 181px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 224px;
  font-size: var(--font-size-7xl);
}

.design {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4059px;
  overflow: hidden;
  text-align: center;
  font-size: var(--out-size);
  color: var(--color-white);
  font-family: var(--h1);
}

/*# sourceMappingURL=main.css.map */
