/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: Inter, sans-serif;
    --font-secondary: Roboto, sans-serif;

    --font-size-content: 2.4rem;

    --font-size-button-gros: 2.4rem;
    --font-size-button-petit: 1.6rem;

    /// Grosseur des textes
    --font-size-h1: 6.4rem;
    --font-size-h2: 4.8rem;
    --font-size-h3: 3.2rem;
    --font-size-h4: 1.6rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;

    --font-primary: "ABeeZee", sans-serif;
    --font-size-grand-titre: 59px;
    --font-size-titre: 59px;
    --font-size-sous-titre: 30px;
    --font-size-prix: 46px;
    --font-size-h3: 19px;
    --font-size-h2: 37px;
    --font-size-h4: 33px;
    --font-size-h1-1: 50px;
    --font-size-h5: 30px;
    --font-size-out: 23px;
    --font-size-bouton: 28px;
}
